@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:wght@400;700&display=swap');
*{
    list-style: none;
    font-family: 'Aldrich', sans-serif;
}
:root {
    /* scroll-padding-top: 7rem; */
}
.main-header .container-header .main-nav a:nth-child(3){
    color: #952426;
}
.main-content{
    max-width: 1200px;
    margin: auto;
    padding-top: 180px;
    position: relative;
}

.main-content h1{
    text-align: center;
    font-size: 45px;
    padding: 0 0 50px 0;
    color: #304B3D;
    text-shadow: 5px 1px 0px #ECAF3A;
}
.process{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.process li{
    font-family: 'Lato', sans-serif;
    width: 120px;
    height: 120px;
    padding: 10px;
    font-size: 19px;
    color: #bd4118;
    font-weight: bold;
    letter-spacing: 1px;
    background:#fecd73;
    border-radius: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.process li + li{
    margin-left: 100px;
}
.process li + li::before{
    content:'';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #ECAF3A;
    top: 0;
    left: -100px;
    bottom: 0;
    margin: auto;
}
.main-content .process .material-symbols-outlined{
    font-size: 50px;
    margin: auto;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.process li .step{
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 45px;
    color: #CD572F;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.create{
    width: 100%;
    margin-top: 100px;
    display: flex;
}
.create-main{
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    position: relative;
}
.create-main img{
    width: 35%;
    height: 100%;
    padding: 20px 40px;
    border: 7px double #ECAF3A;
    border-radius: 20px;
}
.create-detail{
    width: 50%;
}
.title{
    margin: 20px 10px;
    font-size: 25px;
    font-weight: bold;
}
.type-list{
    width: 90%;
    height: 400px;
    display: flex;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f8d3c3;
    border: 5px solid #CD572F;
    box-shadow: 7px 7px 0px #ECAF3A;
}
.type-list-item{
    width: 100%;
    background: none;
    border: none;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.type-list-item img{
    width: 80%;
    height: 100%;
}
.type-list-item .item-name{
    display: none;
    margin-top: 10px;
    text-align: center;
}

.type-list-item:hover img {
    border: 3px solid #ffffff;
    outline: 3px solid #ECAF3A;
    transition: .3s;
    border-radius: 50px;
    background-color: #ffe7bb;
}
.type-list-item:focus img {
    border: 3px solid #ffffff;
    outline: 3px solid #ECAF3A;
    border-radius: 50px;
    background-color: #ffe7bb;
}
.type-list-item:hover .item-name{
    display: block;
}
.type-list-item:focus .item-name{
    display: block;
}
.color-list{
    width: 60%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 30px;
    background-color: #f8d3c3;
    border: 5px solid #CD572F;
    box-shadow: 7px 7px 0px #ECAF3A;
    border-radius: 20px;
}
.color-list a{
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.color-list a:hover{
    border: 3px solid #ffffff;
    outline: 3px solid #ECAF3A;
    transition: .3s;
    border-radius: 50%;
}
.color-list a:focus{
    border: 3px solid #ffffff;
    outline: 3px solid #ECAF3A;
    border-radius: 50%;
}
.color-list img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#talk{
    margin: 10px 0 0 40px;
    width: 350px;
    height: 40px;
    background-color: #ffffff;
    font-size: 23px;
}
#feedback{
    margin: 0 0 0 40px;
    width: 350px;
    font-size: 20px;
    text-align: right;
}
#content{
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: 4px solid #ECAF3A;
    position: absolute;
    left: 250px;
    top: 210px;
}

form p{
    text-align: right;
}
.btn-finish{
    display: flex;
    margin: 70px 0;
    justify-content: center;
}
.finish{
    border: none;
    background: none;
    margin: 0 20px;
    background-color: #ECAF3A;
    width: fit-content;
    height: 50px;
    border-radius: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}
.btn-finish a{
    text-decoration: none;
    padding: 0 25px;
    font-size: 25px;
    color: #304B3D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.finish:hover{
    transform: scale(1.05);
}
.finish:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
.product-like{
    width: 1200px;
    position: relative;
    height: 100%;
    margin: auto;
}
.product-like p{
    font-size: 25px;
    margin: 40px 0 10px 0;
}
.swiper {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    padding: 0 15px;
}
.swiper-slide:hover{
    box-shadow:0 0;
    transform:translate(3px,3px);
}
.swiper-slide {
    text-align: center;
    font-size: 17px;
    padding: 15px 5px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    flex-direction: column;
    background-color: #f8d3c3;
    border: 4px solid #CD572F;
    box-sizing: border-box;
    box-shadow: 6px 7px #FDBE02;
    border-radius: 8px;
    transform: translate(0,0);
    transition: all .2s cubic-bezier(.15,.62,.43,.8);
    margin: 50px 0;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide a img {
    display: block;
    width: 150px;
    height: 250px;
    padding-bottom: 10px;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
    color: #ECAF3A;
    padding: 0 20px;
}
/* 手機版 */
@media screen and (max-width:767px){
    .main-content{
        max-width: 100%;
        padding-top: 150px;
    }
    .main-content h1{
        font-size: 25px;
    }
    .process li{
        width: 50px;
        height: 50px;
        padding: 5px;
        font-size: 13px;
    }
    .process li .step{
        display: none;
    }
    .process li + li{
        margin-left: 35px;
    }
    .process li + li::before{
        width: 35px;
        left: -35px;
    }
    .create{
        flex-direction: column;
        margin-top: 10px;
    }
    .create-main{
        width: 90%;
        position: relative;
    }
    .create-main img{
        width: 40%;
        padding: 10px;
        border: 7px double #ECAF3A;
        border-radius: 20px;
    }
    .create-detail{
        width: 80%;
        margin: auto;
    }
    .title{
        margin: 40px 10px 20px 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .type-list{
        height: 300px;
        margin-top: 10px;
    }
    .product-like{
        width: 100%;
        padding: 10px;
    }

    .color-list{
        width: 80%;
    }
    #talk{
        margin: 10px 0 0 40px;
        width: 250px;
        height: 40px;
        background-color: #ffffff;
        font-size: 23px;
    }
    #feedback{
        margin: 0 0 0 40px;
        width: 250px;
    }
    #content{
        width: 70px;
        position: absolute;
        left: 145px;
        top: 150px;
        font-size: 13px;
    }
}

/* 電腦版 */
@media screen and (min-width:768px){
    
}