*{
    list-style: none;
}
.wrap{
    width: 100%;
    background-color: #F9EFD7;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.main-header{
    background-color: #ECAF3A;
    width: 100%;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 25;
}
.main-header .container-header{
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    position: relative;
}
.main-header .logo{
    width: 160px;
}
.main-header .logo img{
    width: 100%;
    vertical-align: middle;
}
.main-header .main-nav{
    margin: auto;
    position: absolute;
    left: 210px;
    margin: auto;
    bottom: 18px;
}
.main-header .main-nav a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 30px;
}
.main-header .main-nav a:hover,.menu-list nav a:hover,.menu-list h3 a:hover{
    color: #AF292C;
    transition: .3s;
}
.main-header .header-search{
    height: 35px;
    width: 150px;
    display: flex;
    border-radius: 200px 200px 200px 200px;
    box-shadow: 2px 2px 5px 1px #0000005e;
    margin: 10px;
    position: absolute;
    right: 240px;
    top: 10px;
}
.main-header .header-search button,
.main-header .header-search input{
    width: 100px;
    border: 0;
    background-color: #FDF1F1;
    padding: 5px 5px;
}
.main-header .header-search button:focus,
.main-header .header-search input:focus{
    outline: none;
}
.main-header .header-search input{
    border-radius: 0 200px 200px 0;
}
.main-header .header-search button{
    border-radius: 200px 0 0 200px;
}
.main-header .member, .main-header .cart{
    background-color: #CC562F;
    border: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px #0000005e;
    margin: 5px;
    position: absolute;
    right: 130px;
    top: 14px;
}
.main-header .member{
    position: absolute;
    right: 180px;
    top: 14px;
}
.main-header .member img, .main-header .cart img{
    width: 80%;
    margin: auto;
    vertical-align: middle;
}

.main-footer{
    width: 100%;
    background-color: #ECAF3A;
    position: relative;
}
.footer-content{
    width: 1200px;
    margin: auto;
}
.footer-area{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}
.footer-logo{
    margin: 50px 30px;
    width: 300px;
    height: 160px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
}
.menu-list{
    display: flex;
    margin: 25px 15px 10px 15px;
}
.menu-list .follow-social img{
    width: 35px;
    height: 35px;
    padding: 0 10px;
}
.menu-list h3 a, h3{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}
.menu-list nav a{
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
}
.menu-list nav a:hover,.menu-list h3 a:hover{
    color: #952426
}
.copyright{
    width: 1200px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}