

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
*{
    font-family: 'Aldrich', sans-serif;
}

.main-content{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.first-area{
    width: 100%;
    margin: auto;
}
.banner video{
    vertical-align: middle;
    object-fit: cover;
}
.banner-brands{
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.banner-brands .brands{
    display: flex;
    list-style: none;
    padding: 20px;
    animation: slide 20s linear infinite;
}
.banner-brands .items img{
    width: 100px;
    height: 100px;
    margin: 10px 15px;
}
.banner-brands .brands:hover{
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.banner-brands .brands:hover .items{
    opacity: .2;
}
.banner-brands .brands .items:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 1s;
}
@keyframes slide {
    from{transform: translateX(0);}
    to{transform: translateX(-1300px);}
}
.products{
    display: flex;
    width: 100%;
    height: 100%;
}
.products .products-list{
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
}
.products .products-list .item{
    margin: 20px 15px 0 15px;
    position: relative;
}
.products-list .item .item-list .cover{
    width: 200px;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    background-color: #ffffffa4;
    position: absolute;
    bottom: 45px;
    left: 15px;
    opacity: 0;
    z-index: 3;  
}
.products-list .item .cover .cover-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.products-list .item .cover .cover-link a{
    text-decoration: none;
}

.products-list .item .cover .cover-link a img{
    width: 30%;
    height: 30%;
    margin: 25px; 
    transition: .5s;
}
.products-list .item .cover a:hover img{
    transform: scale(1.09);
    transition: .5s;
}
.products-list .item .item-list:hover .cover{ 
        opacity: 1;
        transition: .7s;
}
.products .products-list .item:hover p,.content-1:hover p, .content-2:hover p{
    color: #b74f2c;
}

.products-list .item-pic{
    width: 200px;
    height: 220px;
    background-color: #fcc9b3;
    outline: 4px solid #CD572F;
    margin: auto;
    box-shadow: 7px 7px 2px #FDBE02;
    border-radius: 8px;
}
.products .products-list .item-pic img{
    width: 90px;
    height: 210px;
    margin: 0 60px;
    transform: rotate(25deg);
}

.products .products-list .item .item-name{
    text-align: center;
    margin: 15px 10px 10px 10px;
    line-height: 20px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.products .items-best{
    width: 55%;
    height: 790px;
    background-color: #fcc9b3;
    border: 4px solid #CD572F;
    box-shadow: 7px 6px 5px #FDBE02;
    border-radius: 8px;
    margin: 15px;
}

.products .items-best .title{
    border-bottom: 4px solid #CD572F;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    color: #952426;
}
.products .items-best .content{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-top: 80px;
}
.content-1, .content-2{
    margin: auto;
    height: 460px;
    width: 250px;
}
.content-1 img, .content-2 img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: .5s;
}
.content-1 p, .content-2 p{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-top: 30px;
    white-space: nowrap;
    line-height: 40px;
    color: black;
}
.content-1:hover img, .content-2:hover img{
    transform: scale(1.05);
    transition: .5s;
}
/* button */
.btn-shop{
    margin: 50px;
    text-align: center;
}
.btn-shop .shop,.customize button{
    border: none;
    background: none;
}
.customize button{
    margin: 90px 0 70px 0;
}
.btn-shop a,.customize button a{
    text-decoration: none;
    background-color: #ECAF3A;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    padding: 8px 25px;
    color: #304B3D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}
.btn-shop .shop img,.customize button img{
    margin: 0 10px;
}

.shop a:hover, .customize button a:hover, .side-cart button a:hover{
    transform: scale(1.05);
}
.shop a:active, .customize button a:active,.side-cart button a:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
.sec-area{
    width: 100%;
    height: 950px;
    margin: auto;
    position: relative;
    background-image: url("/Skate Bro/bgc1.png");
}
.skate-pic{
    width: 1200px;
    margin: auto;
}
.hashtag{
    margin-top: 100px;
}
.hashtag a{
    text-decoration: none;
    margin-top: 150px;
    text-align: left;
    color: #9e5506;
    font-weight: bold;
    padding: 8px 15px;
    margin: 10px;
    background-color: #ffffff;
    border: 4px solid #c56b0be2;
    border-radius: 50px;
    position: relative;
    top: 50px;
}
.hashtag a:hover{
    background-color: #ECAF3A;
    color: #ffffff;
}
.skate-pic .slogan h1{
    font-size: 56px;
    text-align: center;  
    letter-spacing: 2px;
    -webkit-text-stroke:1px #627d5a;
    color: #f6e8ce;
    font-family: 'Bungee Inline', cursive;
    position: relative;
    z-index: 5;
    top: 130px;
}
.skate-pic-list{
    display: flex;

}
.skate-pic-list img:nth-child(1){
    width: 500px;
    height: 710px;
    opacity: 76%;
    position: relative;
    top: 50px;
    left: 20px;
}
.skate-pic-list img:nth-child(2){
    width: 400px;
    height: 500px;
    position: relative;
    top: 180px;
    z-index: 3;
}
.skate-pic-list img:nth-child(3){
    width: 400px;
    height: 620px;
    opacity: 76%;
    position: relative;
    right: 20px;
}
.third-area{
    width: 100%;
    height: 100%;
}
.customize-pic{
    display: flex;
}
.customize-pic .box-l, .customize-pic .box-r{
    width: 50%;
    height: 600px;
    background-color: #D77959;
}
.customize-pic .box-r{
    background-color: #F0BF61;
}
.customize-pic .box-l img:nth-child(1){
    width: 320px;
    height: 550px;
    position: relative;
    left: 130px;
    top: 100px;
    z-index: 1;
}
.customize-pic .box-r img:nth-child(1){
    width: 500px;
    height: 580px;
    position: relative;
    bottom: 170px;
    left: 50px;
    transform: scale(1);
    transition: .5s;
}
.customize-pic .box-r img:nth-child(2){
    position: relative;
    bottom: 150px;
    left: 80px;
}
.banner-end{
    margin-top: 80px;
}
.banner-end img{
    width: 100%;
    height: 30px;
    vertical-align: middle;
}
.banner-end .end-gif{
    display: flex;
    justify-content: space-evenly;
    background-color: #149A99;
    
}
.banner-end .end-gif img{
    width: 300px;
    height: 180px;
}
/* 手機版 */
@media screen and (max-width:767px){
    .products{
        display: inline-block;
    }
    .products .products-list{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }
    .products .products-list .item{
        width: 90%;
        margin: auto;
    }
    .products-list .item .item-list .cover{
        width: 90%;
        margin-left: 11px;
        left: 0;
        bottom: 45px;
    }
    .products-list .item-pic{
        width: 90%;
    }
    .products .products-list .item-pic img{
        margin: 0 40px;
    }
    .products .items-best{
        width: 90%;
        height: 100%;
        margin: auto;
        outline: 1px solid red;
    }
    
    .products .items-best .content{
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin: 0 auto 15px;
    }
    .content-1, .content-2{
        margin: auto;
        height: 80%;
        width: 100%;
        padding: 10px;
    }
    .content-1 img, .content-2 img{
        width: 90%;
        height: 80%;
    }
    .sec-area{
        width: 100%;
        height: 830px;
        margin: auto;
        position: relative;
        background-image: url("/Skate Bro/bgc1.png");
    }
    .skate-pic{
        width: 1200px;
        margin: auto;
    }
    .hashtag{
        display: none;
    }
    
    .skate-pic .slogan h1{
        font-size: 40px;
        text-align: left; 
        right: 550px;
        transform: rotate(270deg);
    }
    .skate-pic-list img:nth-child(1){
        width: 200px;
        height: 100%;
        top: 70px;
        left: 20px;
    }
    .skate-pic-list img:nth-child(2){
        width: 200px;
        height: 100%;
        top: 280px;
        right: 80px;
    }
    .skate-pic-list img:nth-child(3){
        width: 200px;
        height: 100%;
        right: 200px;
    }
    .third-area{
        width: 100%;
        height: 100%;
    }
    .customize-pic .box-l, .customize-pic .box-r{
        height: 300px;
    }
    .customize-pic .box-l img:nth-child(1){
        width: 70%;
        height: auto;
        left: 30px;
        top: 60px;
    }
    .customize-pic .box-r img:nth-child(1){
        width: 90%;
        height: auto;
        bottom: 30px;
        left: 10px;
    }
    .customize-pic .box-r img:nth-child(2){
        width: 85%;
        height: auto;
        bottom: 10px;
        left: 15px;
    }
    .banner-end img{
        height: 15px;
    }
    /* button */
    .customize button{
        width: 100%;
        margin: 70px auto;
    }
    .btn-shop a,.customize button a{
        font-size: 20px;
    }   
}