
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:wght@400;700&display=swap');
*{
    list-style: none;
    font-family: 'Aldrich', sans-serif;
}
.main-content{
    max-width: 1200px;
    margin: auto;
    padding-top: 180px;
    position: relative;
    /* display: flex; */
}
.product{
    width: 100%;
    display: flex;
    /* outline: 1px solid red; */
}
.product-pic{
    width: 50%;
    height: 600px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #f8dc878b;
}
.product-pic img{
    width: 350px;
    height: 550px;
    margin: auto;
}
.product-detail{
    width: 50%;
    height: 630px;
    background-color: #fff;
}
.product-detail h1{
    font-size: 32px;
    font-weight: bold;
    padding: 20px 40px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.product-describe{
    padding: 0 40px;
    font-size: 20px;
    color: #6C6C6C;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
.product-volume{
    margin: 20px 40px;
    width: 110px;
    border: 1px solid #ccc;

}
.product-volume input[type="button"]{
    background: none;
    width: 20px;
    margin: auto;
    cursor: pointer;
    font-size: 23px;
}
.product-volume input[type="button"]:hover{
    color: #ECAF3A;
}
.product-volume input[type="text"]{
    background: none;
    border: none;
    text-align: center;
    font-size: 20px;
}
.product-volume input[type="text"]:focus{
    outline: none;
}
.product-price{
    margin: 10px 0 10px 0;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 30px;
    color: #CD572F;
}

.product-btn ,.btn-end{
    width: 100%;
    display: flex;
    margin: 50px auto;
    justify-content: center;
}
.addtocart,.backtotop{
    border: none;
    background: none;
}
.product-btn a ,.btn-end a{
    text-decoration: none;
    background-color: #ECAF3A;
    width: fit-content;
    padding: 0 30px;
    height: 50px;
    font-size: 25px;
    color: #304B3D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .3s;
}
.addtocart a:hover ,.backtotop a:hover{
    transform: scale(1.05);
}
.addtocart a:active ,.backtotop a:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}

.product-intro{
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
}
.product-intro1,.product-intro2{
    display: flex;
}
.product-intro1 .intro-content img{
    width: 500px;
    padding-left:10px;
    height: fit-content;
}
.size{
    background-color: #F8DC87;
    font-weight: bold; 
    padding: 20px 0 20px 70px;
    height: 260px;
    width: 560px;
}
.product-intro .intro-content{
    width: 40%;
    text-align: left;
    align-items: center;
    line-height: 2;
    padding: 40px;
    font-size: 22px;
    letter-spacing: 2px;
}
.product-intro1 img,.product-intro2 img{
    width: 460px;
    height: 630px;
    padding: 80px 70px 0 0;
}
.product-intro2{
    flex-direction: row-reverse;
}
.product-intro2 .intro-content{
    margin: 50px 110px 0 0;
    padding: 20px 40px;
    background-color: #F8DC87;
}
.product-like{
    width: 1200px;
    position: relative;
    height: 100%;
    margin: auto;
}
.product-like p{
    font-size: 25px;
    margin: 40px 0 10px 0;
    padding-left: 20px;
}
.swiper {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    padding: 0 15px;
}
.swiper-slide:hover{
    box-shadow:0 0;
    transform:translate(3px,3px);
}
.swiper-slide {
    text-align: center;
    font-size: 17px;
    padding: 15px 5px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    flex-direction: column;
    background-color: #f8d3c3;
    border: 4px solid #CD572F;
    box-sizing: border-box;
    box-shadow: 6px 7px #FDBE02;
    border-radius: 8px;
    transform: translate(0,0);
    transition: all .2s cubic-bezier(.15,.62,.43,.8);
    margin: 50px 0;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide a img {
    display: block;
    width: 150px;
    height: 240px;
    padding-bottom: 10px;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev{
    color: #ECAF3A;
    padding: 0 20px;
}

/* 手機版 */
@media screen and (max-width:767px){
    .main-content{
        max-width: 100%;
        padding-top: 110px;
    }
    .swiper {
        width: 50%;
        margin-left: 0;
        padding: 0;
    }
    .swiper-slide {
        font-size: 15px;
    }
    .swiper-slide a img {
        width: 100%;
        height: 200px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .product{
        width: 100%;
        height: 100%;
        display: inline-block;
        background-color: #fff;
    }
    .product-pic{
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin: auto;
    }
    .product-pic img{
        width: 100%;
        height: auto;
        padding: 0;
    }
    .product-detail{
        width: 100%;
        height: 100%;
    }
    .product-detail h1{
        font-size: 28px;
    }
    .product-intro1,.product-intro2{
        display: inline-block;
    }
    .product-intro .intro-content{
        width: 100%;
        align-items: center;
        padding: 0;
    }
    .product-intro1 .intro-content img{
        width: 90%;
        padding-left:10px;
        height: auto;
        margin: auto;
    }
    .size{
        background-color: #f8dc87a5;
        padding: 10px 20px;
        width: 100%;
        height: auto;
        font-size: 17px;
    }
    .product-intro1 img,.product-intro2 img{
        width: 90%;
        vertical-align: bottom;
        height: auto;
        padding: 0;
        margin: 20px;
    }
    .product-intro2 .intro-content{
        width: 100%;
        margin: 0 0 20px 0;
        padding: 10px 20px;
        font-size: 17px;
        background-color: #f8dc87a5;
    }
}