
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:wght@400;700&display=swap');
*{
    list-style: none;
    font-family: 'Aldrich', sans-serif;
}
.main-header .container-header .main-nav a:nth-child(4){
    color: #952426;
}
.main-content{
    max-width: 100%;
    margin: auto;
}
.banner{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.tabs {
    width: 100%;
    margin: 50px 15px;
}

.menu {
    opacity: 0;
}

.lable-menu {
    cursor: pointer;
    background:#ef9878;
    color: #631818;
    font-weight: bold;
    border-radius: 7px 7px 0 0;
    padding: 1.5% 6%;
    float: left;
    border-right: 3px solid #D56534;
}

.lable-menu:hover {
    background: #E98033;
}

.menu:checked + .lable-menu {
    background: #eec26b;
    color: #CD572F;
}

.tabs input:nth-of-type(1):checked ~ .panels .panel:first-child,
.tabs input:nth-of-type(2):checked ~ .panels .panel2:nth-child(2),
.tabs input:nth-of-type(3):checked ~ .panels .panel2:nth-child(3){
    opacity: 1;
    transition: .3s;
}

.panels {
    clear: both;
    position: relative;
    width: 90%;
    height: 100%;
    border-radius: 0 10px 10px 10px;
}

.panel,.panel2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #eec26b;
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 0 10px 10px 10px;
    box-shadow: 7px 6px 0px #D56534;
    padding: 4%;
    box-sizing: border-box;
}
.panel2 {
    position: absolute;
    top: 0;
}
.bcg-net{
    background: url(./Place/net.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.panel .bcg-net img,.panel2 .bcg-net img{
    width: 95%;
    height: 100%;
    margin: 15px 10px;
}

.panel h2,.panel2 h2 {
    text-align: left;
    font-size: 19px;
    width: 65%;
    padding: 20px 0;
    border-bottom: 3px double #D56534;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    font-weight: bold;
    color: #af5916;

}
.panel p,.panel2 p{
    text-align: left;
    font-size: 15px;
    margin: 5px 0 25px 0;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    font-weight: bold;
    color: #555454;
}
/* 桌機版 */
@media screen and (min-width:768px){
    .main-content{
        max-width: 1200px;
        margin: auto;
    }
    .tabs {
        margin:50px 60px;
    }
    .lable-menu {
        padding: 1% 4%;
        font-size: 20px;
    }
    .panel h2,.panel2 h2 {
        font-size: 30px;
        width: 43%
    }
    .panel p,.panel2 p{
        font-size: 20px;
        line-height: 30px;
    }
}
